h3{
    text-align: center;
    color: #AAA
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container img{
    max-width: 600px;
}

.container p span{
    color: #AAA;
    font-size: 1em;
    font-style: italic;
}

.tags{
    display: flex;
}

.tags p{
    color: #AAA;
    margin-right: 1em
}

.tags p span{
    color: black
}