.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form input{
    margin-right: 30px;
    width: 100%;
}

.posts img{
    max-width: 600px;
    margin-top: 20px;
}

.title{
    font-size: 1.8em;
}

.author{
    color: #AAA;
    font-style: italic;
    font-size: 1.2em;
}

.posts p span{
    color: black;
    font-size: 1em
}

.tags {
    display: flex
}

.tag{
    color: #AAA;
    margin-right: 0.5em;
}

.no_post {
    text-align: center;
}

.no_post p{
    margin-bottom: 2em;
}